venv/
.venv/
env/

**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
.pytest_cache/
.ruff_cache/
.mypy_cache/

.git/
.github/

.env
.venv
.vscode/
.idea/

README.md
CHANGELOG.md
LICENSE

terraform.tfstate*
terraform.tfvars
terraform.lock*

mona_chart/
yaml/
scripts/
tests/
conftest.py

**/terraform.tfstate*
**/terraform.tfvars
**/terraform.tfvars*
**/*.tfvars
**/.env
**/.env.dev
dev/.env.dev

deploy.ps1
Makefile

celerybeat-schedule
terraform.tfstate.backup
terraform.tfstate
tfplan

kube_prom_matches.txt
kube_prom_values.txt
loki_stack_matches.txt
loki_stack_values.txt