# use this as an example for terraform.tfvars 

# Telegram alerts
telegram_bot_token     = ""
telegram_chat_id       = ""
# Username and passowrd for admins and users 
admin_username         = ["admin", "admin2"]
admin_password         = ["admin123", "test_123"]
user_username          = ["user1"]
user_password          = ["userpass1"]

postgres_user          = "myuser"
postgres_db            = "mydb"
postgres_port          = 5432

# Passowrd for grafana
grafana_admin_password = "admin123"