venv/
.venv/
env/

**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
.pytest_cache/
.ruff_cache/
.mypy_cache/

.git/
.github/

.env
.venv
.vscode/
.idea/

README.md
CHANGELOG.md
LICENSE

terraform.tfstate*

mona_chart/
yaml/
scripts/
tests/
conftest.py